#============= art_boot ==============
#allow art_boot vendor_file:file { read getattr }; #unknow type

#============= adbroot ==============
#allow adbroot vendor_file:file { read getattr }; #unknow type

allow vdc vendor_file:file { read getattr };
allow apexd vendor_file:file { read getattr };

#============= cameraserver ==============
allow cameraserver camera_socket:sock_file { write };
allow cameraserver video_device:chr_file { read write open ioctl };
allow cameraserver vendor_file:file { open execute read getattr };
allow cameraserver vendor_default_prop:file { open read getattr };
allow cameraserver system_data_root_file:sock_file { write ioctl };

#============= vendor_init ==============
allow vendor_init firmware_file:dir { relabelto };
allow vendor_init wcnss_device:chr_file { write open };
#allow vendor_init init_service_status_private_prop:file { read }; #unknow type
allow vendor_init shell_prop:file { read };
allow vendor_init radio_core_data_file:dir { create add_name write setattr getattr };
allow vendor_init vendor_file:file { getattr };
allow vendor_init apexd_prop:file { read };
allow vendor_init unlabeled:dir { setattr };
allow vendor_init unlabeled:file { setattr };

#============= hal_gnss_default ==============
allow hal_gnss_default system_file:file { read getattr };

#============= hwservicemanager ==============
allow hwservicemanager vendor_file:file { getattr read };

#============= hal_lineage_health_default ==============
allow hal_lineage_health_default sysfs_batteryinfo:dir { search read write };

#============= firmware_file ==============
allow firmware_file labeledfs:filesystem { associate };

#============= linkerconfig ==============
#allow linkerconfig vendor_file:file { getattr read }; #unknown type

#============= prng_seeder ==============
allow prng_seeder vendor_file:file { getattr read };

#============= system_suspend ==============
#allow system_suspend vendor_file:file { getattr read }; #unknown type

#============= keystore ==============
allow keystore vendor_file:file { read getattr };

#============= fsverity_init ==============
#allow fsverity_init vendor_file:file { read getattr }; #unknown type

#============= surfaceflinger ==============
allow surfaceflinger vendor_file:file { read getattr open execute };
allow surfaceflinger hal_graphics_allocator_hwservice:hwservice_manager { add };

#============= bootanim ==============
allow bootanim vendor_file:file { read getattr open execute };

#============= fsck ==============
allow fsck vendor_file:file { read getattr };
allow fsck fsck:capability { dac_override };

#============= gsid ==============
#allow gsid vendor_file:file { read getattr }; #unknown type

#============= tombstoned ==============
allow tombstoned vendor_file:file { read getattr };

#============= hal_allocator_default ==============
#allow hal_allocator_default vendor_file:file { read getattr }; #unknown type

#============= hal_graphics_composer_default ==============
allow hal_graphics_composer_default sysfs:file { read open };
allow hal_graphics_composer_default default_prop:file { read open getattr };
allow hal_graphics_composer_default system_prop:file { read open getattr };

#============= hal_graphics_composer_default ==============
allow toolbox vendor_file:file { read getattr };

#============= derive_sdk ==============
#allow derive_sdk vendor_file:file { read getattr }; #unknown type

#============= vold ==============
allow vold vendor_file:file { read getattr };

#============= vold_prepare_subdirs ==============
allow vold_prepare_subdirs vendor_file:file { read getattr };

#============= derive_classpath ==============
#allow derive_classpath vendor_file:file { read getattr }; #unknown type

#============= odsign ==============
#allow odsign vendor_file:file { read getattr }; #unknown type

#============= shell ==============
allow shell vendor_file:file { read getattr };

#============= credstore ==============
allow credstore vendor_file:file { read getattr };

#============= odrefresh - deleted - unknown type==============
#allow odrefresh vendor_file:file { read getattr };

#============= flags_health_check ==============
allow flags_health_check keystore_config_prop:file { getattr open };
#allow flags_health_check keystore_crash_prop:file { getattr open }; #unknown type
#allow flags_health_check keystore_listen_prop:file { getattr open }; #unknown type
#allow flags_health_check last_boot_reason_prop:file { open }; #unknown type
allow flags_health_check bootanim_config_prop:file { getattr open };
allow flags_health_check bootanim_system_prop:file { getattr open };
allow flags_health_check bootloader_boot_reason_prop:file { open };
allow flags_health_check ctl_bootanim_prop:file { open getattr };
#allow flags_health_check ctl_odsign_prop:file { open getattr }; #unknown type
#allow flags_health_check odsign_prop:file { open getattr }; #unknown type
allow flags_health_check vendor_file:file { read getattr };

#============= servicemanager ==============
allow servicemanager vendor_file:file { getattr };

#============= zygote ==============
allow zygote vendor_file:file { read getattr open execute };

#============= Misc-0/cache7 ==============
#allow misctrl vendor_file:file { read getattr }; #unknown type
#allow misctrl proc:file { getattr read open };

allow logd vendor_file:file { read getattr };
allow lmkd vendor_file:file { read getattr };
allow logpersist vendor_file:file { read getattr };
allow extra_free_kbytes vendor_file:file { read getattr };
allow recovery_persist vendor_file:file { read getattr };
allow bpfloader vendor_file:file { read getattr };
allow statsd vendor_file:file { read getattr };
allow netd vendor_file:file { read getattr };
allow audioserver vendor_file:file { read getattr };
allow bootstat vendor_file:file { read getattr };
allow traced_probes vendor_file:file { read getattr };
allow traced vendor_file:file { read getattr };
allow atrace vendor_file:file { read getattr };
allow idmap vendor_file:file { read getattr };
allow incidentd vendor_file:file { read getattr };
allow installd vendor_file:file { read getattr };
allow mediaextractor vendor_file:file { read getattr };
allow mediametrics vendor_file:file { read getattr };
allow mediaserver vendor_file:file { read getattr };
allow wificond vendor_file:file { read getattr };
allow mediaswcodec vendor_file:file { read getattr };
#allow storaged vendor_file:file { read getattr }; #unknown type
allow gatekeeperd vendor_file:file { read getattr };
allow usbd vendor_file:file { read getattr };
allow adbd vendor_file:file { read getattr };
